:root{
--top-bar-height: 50px;
--main-width: 1000px;

--prim-color: black;
--scnd-color: white;
}

body {
margin-top: calc(var(--top-bar-height) + 10px);
}

nav.top {
width: var(--main-width);
background: var(--prim-color);
padding: 0 calc(100%/2 - var(--main-width)/2);
position: fixed;
top: 0;
left: 0;
height: var(--top-bar-height);
}

/*
nav.top  * {
padding:0;
margin:0;
}
*/

nav.top > .left {
font-family: 'VT323', monospace;
font-size: 25px;
padding: 0 10px;
text-decoration: none;
color: var(--prim-color);
background: var(--scnd-color);
height: var(--top-bar-height);
float: left;
line-height: var(--top-bar-height);
}

nav.top > .left a{
margin: 0 10px;
}

nav.top > .right {
font-family: 'Open Sans', san-serif;
font-size: 15px;
float:right;
height: var(--top-bar-height);
}

nav.top > ul.right {
list-style:none;
margin:0;
padding:0;
}

nav.top > ul.right li {
height: 100%;
line-height: var(--top-bar-height);
display: inline-block;
margin: 0 10px;
}

nav.top > .right a{
text-decoration: none;
color: var(--scnd-color);
}
